In [28]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [29]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [30]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [31]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [54]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

session.query(func.count(Measurement.date)).all()
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
date_str = "06"
temps = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == date_str).all()
# temps

In [55]:
#  3. Convert the June temperatures to a list.
junetemps = list(np.ravel(temps))

# junetemps = [seq[0] for seq in temps ]
# junetemps

In [57]:
#4. Create a DataFrame from the list of temperatures for the month of June. 
junetemps_df = pd.DataFrame(junetemps, columns=['June Temps'])

# junetemps_df

In [58]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
junetemps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [50]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
date_str1 = "12"
temps1 = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == date_str1).all()

In [60]:
# 7. Convert the December temperatures to a list.
# dectemps = session.query(Measurement.date, Measurement.tobs).\
#     filter(func.strftime("%m", Measurement.date) == date_str1).all()
# dectemps

dectemps = list(np.ravel(temps1))

# dectemps = [seq[0] for seq in temps ]
# dectemps

In [61]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dectemps_df = pd.DataFrame(dectemps, columns=['December temps'])

# dectemps_df

In [62]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dectemps_df.describe()

       December temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000